body {
    
    background-color: rgb(146, 164, 182);
    

    }

    header {
        margin: 50px;
        padding: 20px;
        border:2px;
        }

    nav li {
        text-align: center;
        display: inline-block;
        width: 20em;
        margin: auto;
        color: rgb(58, 63, 131);
        text-decoration-style: dotted;
        margin: 10px;

    }

    h1{
        text-align: center;
        color:rgb(36, 37, 47);
        border: 3px;
        padding:1em;

    }

    

    section{
        display:inline-block;
        margin: 10px;
        border: 20px;
        text-align: justify;
        padding: 1rem 1rem;
        vertical-align: middle;
        align-content: flex-end;
    
    }

    #bed {
        float: left;
        max-width: 400px;}

    
    
       


    .images>section {
        display: inline-block;
        float: left;
    }

    #pug {
    
        max-width: fit-content;
        
    }

footer {text-align: center}