body {
    
    background-color: rgb(162,181,192);
    font-size: medium;
    font-family: 'Nunito', sans-serif;


    }

    header {
        margin: 50px;
        padding: 20px;
        border:2px;
        }

    nav li {
        text-align: center;
        display: inline-block;
        width: 20em;
        margin: auto;
        color: rgb(58, 63, 131);
        border-radius: 25px;
        border: 3px;
        background: #d6dee6;
        margin:50px;

    }

    h1{
        text-align: center;
        color:rgb(32,49,66);
        border: 3px;
        border-radius: 25px;
        background: #d6dee6;
        padding: 10px;
    }

    

    section{
        display:inline-block;
        margin: 10px;
        border: 20px;
        text-align: justify;
        padding: 1rem 1rem;
        vertical-align: middle;
        align-content: flex-end;
    
    }

    #bed {
        float: left;
        max-width: 400px;}

    
    
       


    .images>section {
        display: inline-block;
        float: left;
    }

    #pug {
    
        max-width: fit-content;
        
    }

footer {text-align: center}